.logobox {
  height: 400px;
  background: url('../img/join.png') no-repeat center;
}
.box {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0%;
}
.advantage {
  overflow: hidden;
}
.advantage .hzys h1 {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin: 50px auto;
}
.advantage .recruit h1 {
  height: 20px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 900;
  color: #3A3A3C;
  line-height: 20px;
}
.advantage .recruit .info {
  margin-top: 20px;
}
.advantage .recruit .info h2 {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: #3A3A3C;
  line-height: 28px;
}
.advantage .recruit .info li {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #3A3A3C;
  line-height: 28px;
}
.advantage .recruit .info li span {
  color: #0080FF;
}
.advantage .recruit .info p {
  margin-top: 20px;
}
